# required variables
# REGISTRY_USERNAME
# REGISTRY_PASSWORD

variables:
  GO_PROJECT: gitlab.com/tomkukral/kad
  REGISTRY_IMAGE: docker.io/tomkukral/kad
  REGISTRY_SERVER: docker.io
  GOPATH: ${CI_PROJECT_DIR}/_gopath/
  IMAGE_GO_BUILDER: golang:1.14
  IMAGE_GO_BUILDER_LATEST: golang:latest

stages:
  - prepare
  - test
  - publish
  - release

.job: &job
  tags: [docker]
  cache:
    policy: pull
    paths:
      - _gopath/pkg/mod/cache

lint:
  <<: *job
  stage: prepare
  image: ${IMAGE_GO_BUILDER}
  cache:
    policy: pull-push
    paths:
      - _gopath/pkg/mod/cache
  script:
    - go mod download -json
    - go mod verify

unittest:
  <<: *job
  stage: test
  image: ${IMAGE_GO_BUILDER}
  script:
    - go test ./...

unittest-latest:
  <<: *job
  stage: test
  image: ${IMAGE_GO_BUILDER_LATEST}
  script:
    - go test ./...

build:
  <<: *job
  stage: test
  image: ${IMAGE_GO_BUILDER}
  artifacts:
    name: "$CI_COMMIT_SHA"
    paths:
      - build_out/
    expire_in: 4 week
  script:
    - apt-get update
    - apt-get install -y upx-ucl
    - CGO_ENABLED=0 go build -o build_out/kad
    - upx build_out/*

container:
  <<: *job
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  dependencies:
    - build
  script:
    - docker info
    - docker login -u "${REGISTRY_USERNAME}" -p "${REGISTRY_PASSWORD}" "${REGISTRY_SERVER}"
    - echo "$CI_BUILD_REF" > VERSION
    - docker build -t "${REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}" .
    - docker push "${REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}"
    - docker logout "${REGISTRY_SERVER}"

release:
  <<: *job
  stage: release
  only:
    - master
  image: docker:latest
  services:
    - docker:dind
  dependencies:
    - container
  script:
    - docker info
    - docker login -u "${REGISTRY_USERNAME}" -p "${REGISTRY_PASSWORD}" "${REGISTRY_SERVER}"
    - docker pull "${REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}"
    - docker tag "${REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}" "${REGISTRY_IMAGE}:latest"
    - docker push "${REGISTRY_IMAGE}:latest"
    - docker logout "${REGISTRY_SERVER}"
